* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 10vw;
}

button {
    height: 100px;
    width: 300px;
    background: linear-gradient(black 10%, white 90%);
}

button:hover {
    height: 100px;
    width: 300px;
    background: cyan;
    cursor: pointer;
}